

body{
background-image: url("Cosmic-Gradient-14.jpg");
background-size: cover;
}

.flex-container {
    border:cadetblue;
    background-color: cadetblue;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;   
    width: 80vw;   
  }

  .flex-items-25{
    border: darkblue;
    background-color: rgba(38, 32, 62, 0.8);
    color: white;
    border-width: 5px;
    width:25%;
    height: 10vh;
    display: flex;   
    flex-wrap: wrap;   
    align-content: center; 
    z-index: 1;
}
.flex-5{
  border:darkblue;
  background-color: rgba(38, 32, 62, 0.8);
  border-width: 5px;
  width:5vh;
  height: 10vh;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}
.flex-10{
  border:darkblue;
  background-color: rgba(38, 32, 62, 0.8);
  border-width: 5px;
  width:10vh;
  height: 10vh;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.flex-items-50{
  border: darkblue;
  background-color: rgba(38, 32, 62, 0.8);
  border-width: 5px;
  width:50%;
  color: white;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; 
 
}

.flex-items{
  padding: 2%;
  color: white;
}

 .flex-top{
 align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  justify-items: center;
  position:relative;
  
 }

 .flex-center{
  align-items: center;
   justify-content: center;
   align-content: center;
   display: flex;
   justify-items: center; 
   margin-top: 10vh;
   margin-bottom: 10vh;
   background-color: white;
   margin-left: 50vw;
   margin-right: 50vw;
   width:100vw;
   height: 100vh;
  } 
  a:visited  {
    color: white;
  }
  a{
    text-decoration: none;
  }
  @media only screen and (max-width:1000px) {
    .show-mobile {
      display:block;
    }
    .hide-mobile {
      display: none;
    }
  }

@media only screen and (min-width:1001px) {
    .show-mobile {
      display: none;
    }
    .hide-mobile {
      display: block;
    }
  }