
  .flex-items-25{
    border: darkblue;
    background-color: rgba(34, 22, 78, 0.8);
    color: white;
    border-width: 0px;
    width:25vw;
    height: 10vh;
    display: flex;   
    flex-wrap: wrap;   
    align-content: center; 
    z-index: 1;
}

.flex-10{
  border:darkblue;
  background-color: rgba(34, 22, 78, 0.8);
  width:10vw;
  height: 10vh;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.flex-items-50{
  border: darkblue;
  background-color: rgba(34, 22, 78, 0.8);
  border-width: 0px;
  width:50vw;
  color: white;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; 
 
}

.flex-items{
  padding: 2%;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

 .flex-top{
  display: flex;
  position:relative;
  width: 100vw;
 }
 .title{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 
  a:visited  {
    color: white;
  }
  a{
    text-decoration: white;
  }
  @media only screen and (max-width:1000px) {
    .logo{
      display: none;
    }
    .flex-items-50{
      border: darkblue;
      background-color: rgba(34, 22, 78, 0.8);
      border-width: 0px;
      width:70vw;
      color: white;
      height: 10vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center; 
     
    }
    .flex-items-25{
      border: darkblue;
      background-color: rgba(34, 22, 78, 0.8);
      color: white;
      border-width: 0px;
      width:30vw;
      height: 10vh;
      display: flex;   
      flex-wrap: wrap;   
      align-content: center; 
      z-index: 1;
  }
  }

@media only screen and (min-width:1001px) {
    .logo{
      display: block;
      z-index: 1;
    }